@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    text-align: center;
    background-color: #131313;
    font-family: "Poppins", sans-serif;
}

h1{
    color: white;
    font-size: 40px;
}

table{
    margin: auto;

}

th{
    color: white;

}

input{
    border: 2px solid white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

button{
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: 2px solid white;
  border-radius: 5px;
  font-weight: 600;
}

.countdown{
    display: flex;
    justify-content: center;
}

.heading{
    color: white;
    font-size: 18px;
    text-transform: uppercase;

}

.time{
    background-color: #090909;
    width: 140px;
  color: white;
  font-size: 100px;
  margin: 0 10px;
}